@media only screen and (max-width:768px) {
    .container{
        max-width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    .header{
        width: 100%;
        height: 100%;
    }
    .navigation{
        width: 100%;
        height: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar__nav{
        margin-right: 0px;
        position: fixed;
        right: 5%;
        top: 15%;
    }
    .navbar__nav a{
       display: none;
    }
    .navbar__nav .fa-search{
        display: none;
    }
    .banner h1{
        font-size: 2rem;
        color: aqua;
        margin-bottom: -2rem;
    }
    .banner h2{
        font-size: 1.5rem;
        color: rgb(254, 255, 255);
        font-weight: 900;

    }
    .banner p{
        color: aliceblue;
        font-size: 0.5rem;
        font-family: var(--karlo);
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .banner a button{
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        border-radius: 10%;
        margin-bottom: 3rem;
    }  
    .about__content{
        display: grid;
        grid-template-columns:100%;
        gap: 3rem;
    }
    .consert__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .gallery__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .gallery__item1 .gallery__img .title h3{
        position: absolute;
        margin-left: 25%;
        margin-top: 30%;
    }

    .gallery__item1 .gallery__img .title .img{
        display: flex;
        margin-left: 45%;
        margin-top: 45%;
        width: 10%;
        height: 10%;
    }
    .contact__content form{
        width: 100%;
    }
    .footer__item{
        width: 100%;
    }
    .footer__item form input[type="email"]{
        width: 70%;
    }
    .footer__item form input[type="submit"]{
        width: 30%;
    }
    .map{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .map span{
        color: #fff;
        text-align: center;
    }
}